<!-- ----------------------------------------------------dashboard html-------------------------------------------------------------- -->
  <!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/chatMain.css' %}">
  <title>My Alexis</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>A</span>lex<span>is</span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'visionDetection:Dashboard' %}" data-after="home">HOME</a></li>
            <li><a href="{% url 'visionDetection:Profile' %}">Profile</a> </li>
            <li><a href="{% url 'visionDetection:Chat' %}" data-after="chat">Chat</a></li>
            <li><a href="{% url 'visionDetection:Capture' %}" data-after="Projects">Capture</a></li>
            <li><a href="{% url 'visionDetection:Logout' %}" data-after="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Alexis <span></span></h1>

      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->

  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>